@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply antialiased;
    }

    body {
        @apply bg-midnight tracking-tight text-gray-50 transition-colors font-body;
    }

    :root {
        /* Midnight */
        --color-midnight: #101026;

        /* Primary */
        --color-primary-500: #8e05c2;
        --color-primary-900: #332240;

        /* Gray */
        --color-gray-50: #fafbfc;
        --color-gray-100: #f0f2f5;
        --color-gray-200: #e0e2e7;
        --color-gray-300: #cfd2d8;
        --color-gray-400: #9ca1aa;
        --color-gray-500: #6b707a;
        --color-gray-600: #4c515b;
        --color-gray-700: #353b46;
        --color-gray-800: #1d212a;
        --color-gray-900: #10141b;
    }
}